footer#footer
	#footer_upper
		#footer_link
			ul#footer_links
				li
					a(href='#') About
				li
					a(href='#') Stores
				li
					a(href='#') Contact
				li
					a(href='#') Shipping &amp; Charges
				li
					a(href='#') Returns
				li
					a(href='#') FAQ
		#footer_social
			ul#footer_socials
				li
					a(href='#')
						i.fa.fa-instagram(aria-hidden='true')
				li
					a(href='#')
						i.fa.fa-facebook-square(aria-hidden='true')
				li
					a(href='#')
						i.fa.fa-youtube-square(aria-hidden='true')
	#footer_lower
		#footer_copyright
			span © Signed 2017, All Rights Reserved
		#footer_fine
			ul#footer_fines
				li
					a(href='#') Terms
				li
					a(href='#') Imprint
				li
					a(href='#') Privacy Policy